.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  color: #fff;
  background-color: #001947; }

.navbar-default .navbar-nav > li > a:hover {
  color: #fff; }

.navbar-nav > li > a:hover {
  background-color: #fff; }

.dropdown-menu {
  background-color: #001947;
  color: #fff; }
  .dropdown-menu li a {
    color: #fff; }
    .dropdown-menu li a:hover {
      background-color: #fff; }

.navbar-default {
  background-color: #001947;
  border: none;
  color: white;
  margin-top: 5%; }

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
  border: none; }

.navbar-default .navbar-nav .open .dropdown-menu > li > a {
  color: #fff; }

.navbar-brand img {
  width: 79%;
  height: auto;
  position: relative;
  top: -63px; }

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .navbar-default {
    padding: 0 16%; }
  .navbar-brand {
    padding-top: 0;
    padding-left: 30px; }
    .navbar-brand img {
      width: 100%;
      height: auto;
      position: relative;
      top: 0; }
  .header-info {
    width: 30%;
    margin-left: 70%;
    text-align: right; } }

body {
  background-color: #001947;
  font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; }

p, a, li {
  color: #fff;
  font-size: 1.3em; }

h1, h2, h3, h4 {
  margin: 0;
  color: #fff;
  font-size: 2em; }

hr {
  border-color: #fff200;
  margin-top: 0; }

.hero {
  border: 6px solid #fff200;
  border-radius: 2%;
  padding: 0; }
  .hero img {
    width: 100%;
    height: auto; }

.intro-text {
  background: #2d396c;
  margin: auto; }
  .intro-text h1 {
    color: #fff; }
  .intro-text p {
    font-size: 1.2em;
    font-weight: 100;
    margin-top: 3%;
    text-align: left; }

.services {
  padding: 4% 0; }
  .services h1 {
    width: 100%;
    text-align: center;
    margin: auto;
    padding: 10% 0;
    font-size: 2em; }
  .services h3 {
    text-align: center;
    width: 78%;
    margin: auto; }
  .services div {
    background-color: #333366;
    padding: 1% 1%;
    margin: 4% 4%;
    border-radius: 2%; }
  .services p {
    margin-top: 0;
    font-weight: 100; }
  .services hr {
    margin: 6% 0;
    border-color: yellow; }

.feature {
  padding: 4% 0; }
  .feature div {
    padding: 1% 1%;
    margin: 4% auto;
    border-radius: 2%;
    width: 80%; }

img {
  display: block;
  margin: 0 auto; }

p {
  font-weight: 100;
  text-align: center;
  margin-top: 10%; }

.contact {
  text-align: center; }
  .contact img {
    width: 100%;
    height: auto; }

.contact > * {
  padding: 2% 0;
  max-width: 500px;
  margin: auto; }
  .contact > *:nth-child(5) {
    font-size: 1.3em; }

@media (min-width: 400px) {
  body {
    padding-top: 10%; }
  .services {
    /* padding: 4% 0; */
    width: 80%;
    margin: 0 auto; }
  .feature div {
    margin: 1% auto; }
    .feature div p {
      width: 80%;
      margin: auto; }
  .feature {
    padding: 0% 0; } }

@media (min-width: 692px) {
  .header-info p {
    margin-top: 0;
    width: 39%;
    margin-left: 61%;
    text-align: right; }
  .navbar-brand img {
    top: -44px; }
  .intro-text h1 {
    margin-top: 3%; }
  .intro-text p {
    margin-bottom: 3%; }
  .services h1 {
    padding: 3% 0; }
  .services {
    width: 100%; }
  .feature {
    margin-left: 17%; } }
