//Bootstrap SASS template


//Base styles (Vars,Mixins,etc)

@import 'base/_variables.scss';
@import 'base/_mixins.scss';
@import 'base/_normalize.scss';
@import 'base/_base.scss';

//Modules styles (Individual site components)

@import 'modules/_typography.scss';
@import 'modules/_blocks.scss';
@import 'modules/_buttons.scss';
@import 'modules/_sections.scss';
@import 'modules/_components.scss';

//Layout styles (Layout styles)

@import 'layout/_nav.scss';
@import 'layout/_header.scss';
@import 'layout/_footer.scss';

//Use import files to clean up code later on

//VARS (These are actually stored in scss/base/_variables.scss)

//$dblue: #001947;
//$lblue: #333366;
//$yellow: #fff200;

$font-sml: 1.3em;
$font-lrg: 2em;


//mixins

@mixin section-box {
		padding: 1% 1%;
    margin: 4% 4%;
    border-radius: 2%;
}

//resets

//base

//"HelveticaNeue-Light", "Helvetica Neue Light",

body {
	background-color: $dblue;
	font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  
}

p,a,li{
	color: #fff;
	font-size: $font-sml;
}

h1,h2,h3,h4{
	margin: 0;
	color: #fff;
	font-size: $font-lrg;
}

hr{
	border-color: $yellow;
	margin-top: 0;
}

//Hero/body

.hero{
	border: 6px solid $yellow;
	border-radius: 2%;
	padding: 0;
	img{
    width: 100%;
    height: auto;
	}
}


.intro-text{
	background: #2d396c;
	//padding: 4% 0;
	margin: auto;
	h1{
		color: #fff;
		
	}
	p{
		font-size: 1.2em;
		font-weight: 100;
		//padding: 4% 0;
		margin-top: 3%;
		text-align: left;
	}
}

.services{
	padding: 4% 0;
	h1{
		width: 100%;
		text-align: center;
    margin: auto;
		padding: 10% 0;
		font-size: $font-lrg;
	}
	h3{
		text-align: center;
    width: 78%;
    margin: auto;
	}
	div{
		background-color: $lblue;
		@include section-box;
	}
	p{
		margin-top: 0;
		font-weight: 100;
		
	}
	hr{
		margin: 6% 0;
    border-color: yellow;
	}
}


.feature{
	padding: 4% 0;
	div{
		padding: 1% 1%;
    margin: 4% auto;
    border-radius: 2%;
    width: 80%;
	}
}
	

img{
		display: block;
		margin: 0 auto;
	}
	p{
		
		font-weight: 100;
		text-align: center;
		margin-top: 10%;
		
	}


.contact{
	text-align: center; 
	img{
		width: 100%;
		height: auto; 
	}
}

.contact > *{
	padding: 2% 0;
	max-width: 500px;
  margin: auto;
	&:nth-child(5){
		font-size: 1.3em;
	}
}


@media (min-width: 400px){
	body{
		padding-top: 10%;
	}
	.services {
    /* padding: 4% 0; */
    width: 80%;
    margin: 0 auto;
	}
	.feature div {
    margin: 1% auto;
		p {
    width: 80%;
    margin: auto;
		}
}
	.feature {
    padding: 0% 0;
}
}

@media (min-width: 692px){
	.header-info{
		p{
			margin-top: 0;
			width: 39%;
    	margin-left: 61%;
			text-align: right;
		}
	}
	.navbar-brand img {
        top: -44px;
	}
	.intro-text h1 {
    margin-top: 3%;
	}
	.intro-text p {
    margin-bottom: 3%;
	}
	.services h1 {
    padding: 3% 0;
	}
	.services {
    width: 100%;
	}
	.feature{
		margin-left: 17%;
	}
	
}

@media (min-width: 892px){
	
}